<main>
  <header class="brand-name">
    <a [routerLink]="['/']">
      <img class="brand-logo" src="logo.svg" alt="logo" aria-hidden="true" />
    </a>
    @if (auth.isLoggedIn()) {
      <div class="user-info">
      <span class="user-name">Hi {{ auth.getUserNameFromJwt() }}</span>
      <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    }
  </header>
    @if (auth.isLoggedIn()) {
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  } @else {
    <app-login />
  }
</main>